@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    <abbr title="Phone">P:</abbr>
    +918169194204
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jaybinod@gmail.com">jaybinod@gmail.com</a><br />
</address>