
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOff</title>
</head>
<body>
    <div>
        <h3>Thank you for Visiting</h3>
    </div>
</body>
</html>
